.Header {
    position: absolute;
    top:0;
    left: 0;

    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;

    height: 45px;
    width: 100%;

    background: #102331;
}

.Settings {
    height: 20px;
    margin-right: 45px;
    width: auto;
    cursor: pointer;
    transition: all 500ms;
}

.Setting:hover {
    transform: rotate(90);
}

.Logo {
    height: 45px;
    width: auto;
    margin-left: 20px;
}