.Header {
    height : 32px;

    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;

    padding: 7px;
    padding-left: 12px;

    background: #061e3e;
    border: 2px solid gray;

    margin-top: 14px;
}

.Header:hover {
    background-color: #072246;
}

.Header strong {
    margin-left: 10px;
    letter-spacing: 1px;
    user-select: none;
    font-size: 14px;
}

.NoShow {
    height: 0px;

    transition: all 200ms;
}

.Content {
    transition: all 200ms;
    background: #061e3e;
    border: 2px solid gray;
    border-top: none;

    padding-top: 2px;

}

.Arrow {
    transition: all 200ms;

    font-size: 12px;
    user-select: none;

    color: white;

    margin-right: 10px;
}

.Rotate {
    transform: rotate(90deg);
}

html {
    color: white;
    margin: 14px;
}